/.DS_Store

# ROS build files
build/
devel/
install/
log/

# Python-specific files
*.pyc
__pycache__/

# poetry files
poetry.lock

# Virtual environment
.dmpc-venv/
dmpc-venv/
.venv/
venv/

# Solver files
mpc_planner_solver/