<?xml version="1.0"?>

<launch>
  <arg name="debug" default="false" />

  <!-- Robot 1 Node -->
  <group ns="robot_1_node">
    <node name="robot_1_node" pkg="multi_vehicle_coordination_algorithm" type="robot_node.py" output="screen">
      <param name="robot_id" value="1" />
      <param name="debug" value="$(arg debug)" />
    </node>
  </group>

  <!-- Robot 2 Node -->
  <group ns="robot_2_node">
    <node name="robot_2_node" pkg="multi_vehicle_coordination_algorithm" type="robot_node.py" output="screen">
      <param name="robot_id" value="2" />
      <param name="debug" value="$(arg debug)" />
    </node>
  </group>

</launch>  
