<?xml version="1.0"?>

<launch>
  <!-- Load the settings YAML file -->
  <rosparam file="$(find multi_vehicle_coordination_algorithm)/config/settings.yaml" command="load" />
  
  <arg name="gui" default="false" />
  <arg name="project_name" default="" />
  <arg name="silent" default="false"/>
  <arg name="debug" default="false"/>

  <!-- <include file="$(find jackal_socialsim)/launch/$(arg scenario).launch"/> -->
  <node name="path_node" pkg="multi_vehicle_coordination_algorithm" type="path_generator.py" output="log"/> 

  <!-- <node name="multi_vehicle_coordination_algorithm_node" pkg="multi_vehicle_coordination_algorithm" type="run_dmpc.sh" output="log" if="$(arg silent)"/> -->

  <node name="launch_wrapper_node"
      pkg="multi_vehicle_coordination_algorithm" 
      type="launch_wrapper.py" 
      output="screen" 
      unless="$(arg silent)">
    <param name="debug" value="$(arg debug)" />
    
  </node>



  <!-- Include dart_simulator.launch -->
  <!-- <include file="$(find dart_simulator_pkg)/launch/dart_simulator_no_visuals.launch"/> -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_vehicle_coordination_algorithm)/rviz/simulator.rviz" output="screen"/>

</launch>  
