<?xml version="1.0"?>

<launch>

  <!-- Load the settings YAML file -->
  <rosparam file="$(find multi-vehicle-coordination-algorithm)/config/settings.yaml" command="load" />

  <node name="multi_vehicle_coordination_algorithm_node" pkg="multi-vehicle-coordination-algorithm" type="launch_wrapper.py" output="screen"/>

</launch>  
